.AboutMe-container {
    padding: 0 2% 0 2%;
    background-color: #FEF41A;
    padding-top: 5%;
    padding-bottom: 5%;
    p {
        margin: 0;
        padding-left: 10px;
    }
}

.AboutMe-title {
    background-color: #EF489C;
    width: 80%;
    border-radius: 8px;
    margin: 15px 0 15px 0;
}

.AboutMe-article {
    padding: 1% 10px;
    border: 1px solid #414141;
    border-radius: 10px;
    color: #414141;
}