@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
.font-title {
    font-family: 'Rowdies', cursive;
    font-weight: 700;
}

.font-regular-curs {
    font-family: 'Rowdies', cursive;
    font-weight: 400;
}

.font-regular {
    font-family: 'Rowdies';
    font-weight: 400;
}

.font-light {
    font-family: 'Rowdies';
    font-weight: 300;
}

.fs-18 {
    font-size: 18px;
}

.fs-16 {
    font-size: 16px;
}

.fs-12 {
    font-size: 12px;
}

.fs-24 {
    font-size: 24px;
}

.fs-36 {
    font-size: 36px;
}

.color-1 {
    color: white !important;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}